streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-groq
langchain_groq  
sentence-transformers
faiss-cpu
pdfplumber
pytesseract
Pillow
pymupdf  
camelot-py[cv]  
pdfplumber

